.navigation-bar__button {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  width: 12.375rem;
  justify-content: space-evenly;
  background-color: #0095ff;
  border: none;
  color: white;
  border-radius: 0.313rem;
  font-size: 1rem;
}
