.comments-box2 {
  display: flex;
  justify-content: space-evenly;
}

.comments-box2__post-text {
  margin: 0px;
  color: #afafaf;
}

.comments-box2__post-text,
.comments-box2__field,
.comments-box2__button {
  padding-bottom: 0.5rem;
}
