.posted-comments__name {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.posted-comments__content {
  padding-bottom: 1rem;
}

.posted-comments {
  display: flex;
}

.posted-comments__pic {
  padding-right: 1rem;
}
