.upload-video__img {
  width: 24.625rem;
  height: 15.625rem;
  @media (min-width: 768px) {
    width: 45.625rem;
    height: 28.125rem;
  }
  @media (min-width: 1024px) {
    width: 61.5rem;
    height: 40.625rem;
  }
  @media (min-width: 1400px) {
    width: 87.5rem;
    height: 40.625rem;
  }
}

h5 {
  color: #afafaf;
  margin-bottom: 0.25rem;
}

.upload-video__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-video__description {
  padding-bottom: 1rem;
}

.upload-video__text-title,
.upload-video__text-description {
  width: 22rem;
  padding: 0.55rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  @media (min-width: 768px) {
    width: 55rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  @media (min-width: 1024px) {
    width: 55rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  @media (min-width: 1400px) {
    width: 55rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.upload-video__buttons {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    width: 570px;
    padding-right: 1rem;
  }
  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    width: 970px;
    padding-right: 1rem;
  }
  @media (min-width: 1400px) {
    display: flex;
    flex-direction: row-reverse;
    width: 970px;
    padding-right: 1rem;
  }
}
