.upload-video__img {
  width: 24.625rem;
  height: 15.625rem;
  @media (min-width: 768px) {
    width: 45.625rem;
    height: 28.125rem;
  }
  @media (min-width: 1024px) {
    width: 62.5rem;
    height: 40.625rem;
  }
  @media (min-width: 1400px) {
    width: 92.5rem;
    height: 40.625rem;
  }
}

h5 {
  color: #afafaf;
}
